<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 center">
            <div class="row">
                <div class="col s12 m12">
                    <img src="/assets/img/logo.png" id="logo">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 placeholder">s</div>
                <div class="col s12 m4" id="burgerFrame">
                    <img id="imageTitle" src="/assets/img/burger.png">
                </div>
                <div class="col s12 m4 placeholder">s</div>
            </div>


        </div>
    </div>
    <div class="row center">
        {{>burgers-block}}
    </div>
    <div class="row">
        <form>
            <h4 for="addBurger">Add A Burger</h4>
            <textarea name="addBurger" id="addBurger" cols="10" rows="10"></textarea>
            <button id="addBurgerBtn" class="btn-large light-green darken-1" type="submit">Add Burger</button>

        </form>
    </div>

</div>