/* div{
    border: red 2px solid;
} */
li{
    list-style: none;
}
*.container{
    padding-top: 40px;
}
#burgers{
    display:flex;
    flex-direction: column;
}
#devouredBurgers{
    display:flex;
    flex-direction: column;
}
*.devoured{
    color: rgba(0, 0, 0, 0.37)
}